/*
 * Widgets
 */

.widget {

  @include container-padding(1.5);
  position: relative;
  max-width: $container-max-width;

}

.widget-title {

  font-size: ms(1);
  line-height: ms(1);

}


/*
 * Secondary Widgets
 *
 * Full width widgets after the content
 */

#after-header-widgets .widget,
#before-content-widgets .widget,
#secondary .widget {

  // padding-left: 0;
  // padding-right: 0;
  text-align: center;

  > * {

    position: relative;

  }

  &:before {

    position: absolute;
    // z-index: -1;
    top: 0;
    bottom: 0;
    left: -1000px;
    right: -1000px;

    background-color: $light-gray;

    content: "";

  }


  
  /* WIDGET PATROCINADORES */
  &.wcb_widget_sponsors{

    .sponsor-level{
      display: block;

      .sponsor-level-title{
        text-transform: uppercase;
        color: $medium-gray;
        position: relative;
        width: 100%;

        &:after,
        &:before{
          content: "";
          width: 45%;
          height: 2px;
          position: absolute;
          background: $light-gray;
        }

        &:after{
          top: 0;
          top: 0;
          right: 0;
          margin: auto 0;
        }

        &:before{
          top: 0;
          bottom: 0;
          left: 0;
          margin: auto 0;
        }
      }

      &.gold{

        .sponsor-logo{
          display: block;
          width: 245px;
        }
      }
      

    }

  }

  /* WIDGET SUSCRIPTIONS */
  &.jetpack_subscription_widget{
    
    &:before{
      background: $color-brand-secondary;
    }

    .widget-title{
      color: $white;
      text-transform: uppercase;
    }

    #subscribe-text{
      color: $white;
    }

    #subscribe-submit{

      input[type="submit"]{
        color: $white;
        background: $color-brand-quaternary;
      }
    }
  }

}


/*
 * Widget text
 *
 * Default text widget styles
 */

.widget_text {

  background-color: $color-grey-10;

  &:before {

    background-color: $color-grey-10!important;

  }

}
