/* =Social widget
===================================================== */

// Widget: Social
//
// Custom social widget
//
// Markup: widget-text-social.html
//
// Style guide: 6.widget.text-social

#text-2 {

  &:before {}

}

/*
 * Social list
 *
 * Large social list buttons for Twitter and Facebook
 */

.list-social {

  @include clearfix();
  @include list-reset();
  text-align: center;
  margin-top: 4rem;

  li {

    font-size: ms(0);
    line-height: ms(1);

    display: block;
    margin-top: $unit-s;
    margin-bottom: 3rem;

    text-align: center;

    @include breakpoint(extra-small) {

      width: 46%;
      display: inline-block;

    }

    @include breakpoint(small) {

      width: 30%;
      min-width: rem(200);
      margin-bottom: 3rem;

    }

  }

  strong {

    display: block;
    color: inherit;

  }

  a {

    position: relative;

    display: block;
    padding: $unit-s $unit-m;
    padding-top: 3rem;


    color: rgba(0,0,0,.8);
    border-radius: $border-radius-small;
    text-decoration: none;

    &:empty {

      display: none;

    }

    &:before {

      position: absolute;
      top: -1.5rem;
      left: 50%;
      transform: translateX(-50%)  rotate(45deg);

      display: block;
      width: rem(48);
      height: rem(48);
      background: $color-brand-primary;
      border-radius: 3px;

      content :"";

      border-radius: $border-radius-small;
      transition: all .1s ease;

    }

    &:after {

      position: absolute;
      top: -1.5rem;
      left: 50%;
      transform: translateX(-50%);
      transition: all .1s ease;

      width: rem(48);
      height: rem(48);

      border-radius: 3px;
      background-color: $color-brand-primary;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: 36px;
      

      content :"";

    }

    &:hover,
    &:focus,
    &:active {

      text-decoration: none;
      //color: $color-text-strong-invert;
      background-color: rgba(0,0,0,0.2);

      /*&:before {

        background-color: tint($color-brand-primary, 60%);
        border-color: tint($color-brand-primary, 60%);

      }*/

    }

  }

  .social-twitter{
    a{
      &:hover,
      &:focus,
      &:active{
        &:after,
        &:before{
          background-color: $color-brand-secondary;
        }
      }

      &:after {
        background-image: url('https://2018.granada.wordcamp.org/files/2018/05/icon-twitter.png');
      }
    }
  }

  .social-facebook{
    a{
      &:hover,
      &:focus,
      &:active{
        &:after,
        &:before{
          background-color: $color-brand-tertiary;
        }
      }

      &:after {
        background-image: url('https://2018.granada.wordcamp.org/files/2018/05/icon-facebook.png');
      }
    }
  }

  .social-instagram{
    a{
      &:hover,
      &:focus,
      &:active{
        &:after,
        &:before{
          background-color: $color-brand-quaternary;
        }
      }

      &:after {
        background-image: url('https://2018.granada.wordcamp.org/files/2018/05/icon-instagram.png');
      }
    }
  }

}